.motherContainer{
    margin-top: 5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.projectContainer{
    background-color: rgb(124, 166, 202);
    display: grid;
    grid-template-columns: 1fr ;
    column-gap: 0;
    row-gap: 20px;
    width: 50%;
    border: 1px solid lightgray;
    padding: 1rem;
    border-radius: 10px;
    transition: ease 1000ms;
}

h1{
    text-align: center;
}

.projectContainer:hover{
    background-color: lightblue;
}

.projectContainer input{
    height: 25px;
    border: 1px solid;
    border-radius: 5px;
}

button{
    margin-top: 2rem;
    width: 15%;
    height: 3rem;
    border: none;
    background-color: lightblue;
    border-radius: 10px;
    cursor: pointer;
    transition: ease 500ms;
}

button:hover{
    background-color: rgb(119, 193, 218);
}

input.project_img {
    border: none;
    border-radius: 0;
}