
.container{
    width: 100%;
    background-color: aliceblue;
    position: fixed;
    top: 0;
}

ul{
    display: flex;
    justify-content: baseline;
    align-items: center;
    list-style: none;
    gap: 10%;
}

.sections{
    font-size: x-large;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.sections.main{
    font-size:  xx-large;
}

li{
    cursor: pointer;
}